@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;400;500&display=swap");

.hospital-container {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
