@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;400;500&display=swap");

.mainMenu {
  background-color: #b5ccea;
  border-style: none;
}
.menuBox {
  font-size: 25px;
  font-family: "Black Han Sans";
  /*width: 300px;
  height: 80px;
  background-color: #3F62AD;*/
}
.subMenu {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.mainback {
  min-height: 93vh;
  display: flex;
  padding: 10px 0;
}
.page {
  width: 100%;
  max-height: 60vh;
}
.heading {
  font-size: 60px;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Black Han Sans", "Work Sans", sans-serif;
  padding: 5px 10px;
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
